.quicksand {
    font-family: 'Quicksand', sans-serif;
}

.body {
    background-color: #939393;
}

p, .readme-wrapper {
    text-align: center;
    display: block;
    font-family: 'quicksand', sans-serif;
}

a {
    text-decoration: none
}
a {
    color: #ffff00
}

.Boxes {
    display: block;
    margin: auto;
    padding: 20px 50px;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;
    border-color: #000000;
    width: 20%;
    position: relative;
}

a:hover {
    color: #0000ff;
    cursor: pointer;
}

.Span1 {
    color: #ff4500;
    font-weight: bold;
}

.Span2 {
    color: #ff4500;
    font-weight: bold;
}

.Span3 {
    color: #ff4500;
    font-weight: bold;
}

.Span4 {
    color: #ff4500;
    font-weight: bold;
}

.Box1 {
    background-color: #ffffff;
}

.Box2 {
    background-color: #add8e6;
}

.Box3 {
    background-color: #00f09a;
}

.Box4 {
    background-color: #191790;
}

.image1 {
    width: 4em;
    height: 4em;
    background-color: #000080;
    display: inline-block;
    position: relative;
    right: 50px;
    top: 90px;
}

.image2 {
    width: 4em;
    height: 4em;
    background-color: #808000;
    display: inline-block;
    position: relative;
    right: 50px;
    top: 90px;
}

.image3 {
    width: 4em;
    height: 4em;
    background-color: #4169e1;
    display: inline-block;
    position: relative;
    right: 50px;
    top: 90px;
}

.image4 {
    width: 4em;
    height: 4em;
    background-color: #98fb98;
    display: inline-block;
    position: relative;
    right: 50px;
    top: 90px;
}

.header1 {
    color: #0000ff;
    text-align: center;
}

.header2 {
    color: #a52a5a;
    text-align: center;
}

.header3 {
    color: #ff8c00;
    text-align: center
}

.header4 {
    color: #cd5c5c;
    text-align: center
}

.header5 {
    color: #000000;
    text-align: center
}

.list1 {
    color: #ff0000;
}

.list2 {
    color: #191970;
}

.list3 {
    color: #ffffff;
}

ul {
    text-align: center;
    list-style: inside;
    color: #8a2be2;
    display: block;
}

h1{
    color: #ffff;
}

h2{
    font: bold;
    font-size: 40px;
    text-align: center;
    display: block;
    font-family: 'quicksand', sans-serif;

}
